@import url(https://fonts.googleapis.com/css2?family=Righteous&display=swap);
.fa-bomb.board__row__square,
.board__row:nth-child(2n-1) .fa-bomb.board__row__square:nth-child(2n-1),
.board__row:nth-child(2n) .fa-bomb.board__row__square:nth-child(2n) {
  background-color: #cb0c59;
}
.empty.board__row__square,
.board__row:nth-child(2n-1) .empty.board__row__square:nth-child(2n-1),
.board__row:nth-child(2n) .empty.board__row__square:nth-child(2n) {
  background-color: #42b0c6;
}
.board__row:nth-child(2n-1) .board__row__square:nth-child(2n-1).empty,
.board__row:nth-child(2n) .board__row__square:nth-child(2n).empty {
  background-color: #62e0f6;
}
.one.board__row__square,
.board__row:nth-child(2n-1) .one.board__row__square:nth-child(2n-1),
.board__row:nth-child(2n) .one.board__row__square:nth-child(2n) {
  background-color: #eb649f;
  color: white;
  border: 1px solid #bb346f;
}
.two.board__row__square,
.board__row:nth-child(2n-1) .two.board__row__square:nth-child(2n-1),
.board__row:nth-child(2n) .two.board__row__square:nth-child(2n) {
  background-color: #bb346f;
  color: white;
  border: 1px solid #9b3366;
}
.three.board__row__square,
.board__row:nth-child(2n-1) .three.board__row__square:nth-child(2n-1),
.board__row:nth-child(2n) .three.board__row__square:nth-child(2n) {
  background-color: #9b3366;
  color: white;
  border: 1px solid #7b1346;
}
.more.board__row__square,
.board__row:nth-child(2n-1) .more.board__row__square:nth-child(2n-1),
.board__row:nth-child(2n) .more.board__row__square:nth-child(2n) {
  background-color: #7b1346;
  color: white;
  border: 1px solid #6b0336;
}

.fa-bomb.board__row__square,
.board__row:nth-child(2n-1) .fa-bomb.board__row__square:nth-child(2n-1),
.board__row:nth-child(2n) .fa-bomb.board__row__square:nth-child(2n),
.empty.board__row__square,
.board__row:nth-child(2n-1) .empty.board__row__square:nth-child(2n-1),
.board__row:nth-child(2n) .empty.board__row__square:nth-child(2n),
.one.board__row__square,
.board__row:nth-child(2n-1) .one.board__row__square:nth-child(2n-1),
.board__row:nth-child(2n) .one.board__row__square:nth-child(2n),
.two.board__row__square,
.board__row:nth-child(2n-1) .two.board__row__square:nth-child(2n-1),
.board__row:nth-child(2n) .two.board__row__square:nth-child(2n),
.three.board__row__square,
.board__row:nth-child(2n-1) .three.board__row__square:nth-child(2n-1),
.board__row:nth-child(2n) .three.board__row__square:nth-child(2n),
.more.board__row__square,
.board__row:nth-child(2n-1) .more.board__row__square:nth-child(2n-1),
.board__row:nth-child(2n) .more.board__row__square:nth-child(2n) {
  box-shadow: none;
}
.fa-bomb.board__row__square:hover,
.board__row:nth-child(2n-1) .fa-bomb.board__row__square:hover:nth-child(2n-1),
.board__row:nth-child(2n) .fa-bomb.board__row__square:hover:nth-child(2n),
.empty.board__row__square:hover,
.board__row:nth-child(2n-1) .empty.board__row__square:hover:nth-child(2n-1),
.board__row:nth-child(2n) .empty.board__row__square:hover:nth-child(2n),
.one.board__row__square:hover,
.board__row:nth-child(2n-1) .one.board__row__square:hover:nth-child(2n-1),
.board__row:nth-child(2n) .one.board__row__square:hover:nth-child(2n),
.two.board__row__square:hover,
.board__row:nth-child(2n-1) .two.board__row__square:hover:nth-child(2n-1),
.board__row:nth-child(2n) .two.board__row__square:hover:nth-child(2n),
.three.board__row__square:hover,
.board__row:nth-child(2n-1) .three.board__row__square:hover:nth-child(2n-1),
.board__row:nth-child(2n) .three.board__row__square:hover:nth-child(2n),
.more.board__row__square:hover,
.board__row:nth-child(2n-1) .more.board__row__square:hover:nth-child(2n-1),
.board__row:nth-child(2n) .more.board__row__square:hover:nth-child(2n),
.fa-bomb.board__row__square:focus,
.board__row:nth-child(2n-1) .fa-bomb.board__row__square:focus:nth-child(2n-1),
.board__row:nth-child(2n) .fa-bomb.board__row__square:focus:nth-child(2n),
.empty.board__row__square:focus,
.board__row:nth-child(2n-1) .empty.board__row__square:focus:nth-child(2n-1),
.board__row:nth-child(2n) .empty.board__row__square:focus:nth-child(2n),
.one.board__row__square:focus,
.board__row:nth-child(2n-1) .one.board__row__square:focus:nth-child(2n-1),
.board__row:nth-child(2n) .one.board__row__square:focus:nth-child(2n),
.two.board__row__square:focus,
.board__row:nth-child(2n-1) .two.board__row__square:focus:nth-child(2n-1),
.board__row:nth-child(2n) .two.board__row__square:focus:nth-child(2n),
.three.board__row__square:focus,
.board__row:nth-child(2n-1) .three.board__row__square:focus:nth-child(2n-1),
.board__row:nth-child(2n) .three.board__row__square:focus:nth-child(2n),
.more.board__row__square:focus,
.board__row:nth-child(2n-1) .more.board__row__square:focus:nth-child(2n-1),
.board__row:nth-child(2n) .more.board__row__square:focus:nth-child(2n) {
  box-shadow: none;
}

@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #053a4c 0%, #071e26 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.board {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 20px;
  background-color: black;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 40px #22a0b6;
  border: 2px solid #62e0f6;
}
.board__row {
  display: flex;
  width: fit-content;
}
.board__row__square {
  width: 28px;
  height: 28px;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 18px;
  background-color: #053a4c;
}
.board__row__square:hover,
.board__row__square:focus {
  outline: none;
  box-shadow: inset 0px 0px 8px black;
}
.board__row:nth-child(2n-1) .board__row__square:nth-child(2n-1),
.board__row:nth-child(2n) .board__row__square:nth-child(2n) {
  background-color: #255a6c;
}

/*---------flag----------*/
.fa-flag,
.fa-question {
  color: white;
}

.modal__background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #0005;
}

.modal {
  margin: 0 auto;
  padding: 0.5em 2em;
  background-color: #255a6c;
  color: white;
  font-size: xx-large;
  border-radius: 10px;
  box-shadow: 0px 0px 30px #22a0b6;
  border: 2px solid #62e0f6;
  font-family: 'Righteous', cursive;
}
.modal > button {
  font-size: large;
  background-color: #22a0b6;
  color: white;
  width: 100px;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Righteous', cursive;
}
.modal > button:hover,
.modal > button:focus {
  outline: none;
  box-shadow: 0px 0px 10px #62e0f6;
}

.score {
  width: calc(100% - 80px);
  color: white;
  font-family: 'Righteous', cursive;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 20px #22a0b6;
  border: 2px solid #62e0f6;
  border-radius: 10px;
  margin: 0 20px;
  padding: 5px 20px;
}
.score > * {
  margin: 0;
}
.score #goHome {
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: white;
  outline: none;
  cursor: pointer;
  margin-right: min(154px, 33% - 70px);
}
.score__clock {
  font-size: x-large;
  justify-self: baseline;
}
.score__info {
  display: flex;
  align-items: center;
}
.score__info__positions,
.score__info__mines {
  display: flex;
  align-items: center;
  font-size: x-large;
  margin-left: 20px;
  justify-content: flex-end;
}
.score__info__positions__image,
.score__info__mines__image {
  width: 20px;
  height: auto;
  margin-left: 10px;
}

.home {
  margin: 20px;
  padding: 50px;
  background-color: #071e26;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 40px #22a0b6;
  border: 2px solid #62e0f6;
  font-family: 'Righteous', cursive;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home__title {
  width: 500px;
  margin-bottom: 50px;
}
.home form {
  display: flex;
  justify-content: space-evenly;
}
.home form div span {
  font-size: 36px;
  font-family: 'Righteous', cursive;
}
.home form div input {
  font-size: 32px;
  width: 75px;
  font-family: 'Righteous', cursive;
  border-radius: 10px;
  border: 2px solid #071e26;
  padding: 0 10px;
  margin: 0;
  outline: none;
  background-color: #053a4c;
  color: #62e0f6;
  box-shadow: inset 0 0 10px #0008;
}
.home form div input:focus,
.home form div input:hover {
  border: 2px solid #62e0f6;
}
.home button {
  position: relative;
  font-family: 'Righteous', cursive;
  font-size: 36px;
  float: right;
  width: 150px;
  margin: 0 calc(50% - 75px);
  margin-top: 50px;
  border-radius: 10px;
  border: 2px solid #62e0f6;
  background-color: #62e0f6;
  color: #053a4c;
  box-shadow: 0px 0px 10px #22a0b6;
  cursor: pointer;
  outline: none;
}
.home button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0px 0px 30px #22a0b6;
  border-radius: 10px;
  opacity: 0;
}
.home button:hover::after {
  animation: pulse 0.75s ease-in-out alternate infinite;
}

.game {
  width: fit-content;
}

.displayNone {
  display: none;
}
