@use "../helpers" as *;

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, $colorDark 0%, $colorBackground 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
