@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


body{
    margin:0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #071E26;


}
.main{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 1em;
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 40px #22A0B6;
    border: 2px solid #62E0F6;
}
.boardRow{
    display: flex;
    width: fit-content;
}

.boardSquare{
    width: 30px;
    height: 30px;
    margin: 0;
    padding:0;
    border:none;
    font-size: 18px;
    background-color: #053A4C;
}
.boardSquare:hover, .boardSquare:focus{
    outline: none;
    box-shadow: inset 0px 0px 8px black;
}

.boardRow:nth-child(2n-1) .boardSquare:nth-child(2n-1), .boardRow:nth-child(2n) .boardSquare:nth-child(2n){
    background-color: #255A6C;
}

/*---------flag----------*/

.fa-flag{
    color:white;
}


/*----------bomb----------*/
.boardRow:nth-child(2n-1) .boardSquare:nth-child(2n-1).fa-bomb, .boardRow:nth-child(2n) .boardSquare:nth-child(2n).fa-bomb, .boardSquare.fa-bomb{
    background-color: #CB0C59;
}
.boardRow:nth-child(2n-1) .boardSquare:nth-child(2n-1).fa-bomb:hover, .boardRow:nth-child(2n) .boardSquare:nth-child(2n).fa-bomb:hover, .boardSquare.fa-bomb:hover , .boardRow:nth-child(2n-1) .boardSquare:nth-child(2n-1).fa-bomb:focus, .boardRow:nth-child(2n) .boardSquare:nth-child(2n).fa-bomb:focus, .boardSquare.fa-bomb:focus{
    box-shadow: none;
}


/*----------empty----------*/
.boardSquare.empty{
    background-color:#42b0c6;
}
.boardSquare.empty:hover, .boardSquare.empty:focus{
    box-shadow: none;
}

.boardRow:nth-child(2n-1) .boardSquare:nth-child(2n-1).empty, .boardRow:nth-child(2n) .boardSquare:nth-child(2n).empty{
    background-color:#62e0f6;
}
.boardRow:nth-child(2n-1) .boardSquare:nth-child(2n-1).empty:hover, .boardRow:nth-child(2n) .boardSquare:nth-child(2n).empty:hover, .boardRow:nth-child(2n-1) .boardSquare:nth-child(2n-1).empty:focus, .boardRow:nth-child(2n) .boardSquare:nth-child(2n).empty:focus{
    box-shadow: none;
}


/*----------one----------*/
.boardRow:nth-child(2n-1) .boardSquare:nth-child(2n-1).one, .boardRow:nth-child(2n) .boardSquare:nth-child(2n).one, .boardSquare.one{
    background-color:#EB649F;
    color: white;
    border: 1px solid #BB346F;
}
.boardRow:nth-child(2n-1) .boardSquare:nth-child(2n-1).one:hover, .boardRow:nth-child(2n) .boardSquare:nth-child(2n).one:hover, .boardSquare.one:hover, .boardRow:nth-child(2n-1) .boardSquare:nth-child(2n-1).one:focus, .boardRow:nth-child(2n) .boardSquare:nth-child(2n).one:focus, .boardSquare.one:focus{
    box-shadow: none;
}


/*----------two----------*/
.boardRow:nth-child(2n-1) .boardSquare:nth-child(2n-1).two, .boardRow:nth-child(2n) .boardSquare:nth-child(2n).two, .boardSquare.two{
    background-color:#BB346F;
    color: white;
    border: 1px solid #9B3366;
}
.boardRow:nth-child(2n-1) .boardSquare:nth-child(2n-1).two:hover, .boardRow:nth-child(2n) .boardSquare:nth-child(2n).two:hover, .boardSquare.two:hover, .boardRow:nth-child(2n-1) .boardSquare:nth-child(2n-1).two:focus, .boardRow:nth-child(2n) .boardSquare:nth-child(2n).two:focus, .boardSquare.two:focus{
    box-shadow: none;
}

/*----------three----------*/
.boardRow:nth-child(2n-1) .boardSquare:nth-child(2n-1).three, .boardRow:nth-child(2n) .boardSquare:nth-child(2n).three, .boardSquare.three{
    background-color:#9B3366;
    color: white;
    border: 1px solid #7B1346
}
.boardRow:nth-child(2n-1) .boardSquare:nth-child(2n-1).three:hover, .boardRow:nth-child(2n) .boardSquare:nth-child(2n).three:hover, .boardSquare.three:hover, .boardRow:nth-child(2n-1) .boardSquare:nth-child(2n-1).three:focus, .boardRow:nth-child(2n) .boardSquare:nth-child(2n).three:focus, .boardSquare.three:focus{
    box-shadow: none;
}


/*----------more----------*/
.boardRow:nth-child(2n-1) .boardSquare:nth-child(2n-1).more, .boardRow:nth-child(2n) .boardSquare:nth-child(2n).more, .boardSquare.more{
    background-color:#7B1346;
    color: white;
    border: 1px solid #6B0336
}
.boardRow:nth-child(2n-1) .boardSquare:nth-child(2n-1).more:hover, .boardRow:nth-child(2n) .boardSquare:nth-child(2n).more:hover, .boardSquare.more:hover, .boardRow:nth-child(2n-1) .boardSquare:nth-child(2n-1).more:focus, .boardRow:nth-child(2n) .boardSquare:nth-child(2n).more:focus, .boardSquare.more:focus{
    box-shadow: none;
}






/*----------modal----------*/

.modal__background{
    position:absolute;
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    display:flex;
    align-items: center;
    text-align: center;
    background-color: #0005;
}

.modal{
    margin: 0 auto;
    padding: 0.5em 2em;
    background-color: #255A6C;
    color: white;
    font-size: xx-large;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #22A0B6;
    border: 2px solid #62E0F6;
    font-family: 'Righteous', cursive;
}

.modal > button{
    font-size: large;
    background-color: #22A0B6;
    color: white;
    width: 100px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Righteous', cursive;
}

.modal > button:hover, .modal > button:focus{
    outline:none;
    box-shadow: 0px 0px 10px #62E0F6;
}