$colorLight: #62e0f6;
$colorSmooth: #22a0b6;
$colorNeutral:#255a6c;
$colorDark:#053a4c;
$colorBackground: #071E26;
$colorAccent: #cb0c59;

$colorBombBackground: $colorAccent;
$colorEmptyDarkBackground: #42b0c6;
$colorEmptyLightBackground: $colorLight;
$colorOneBackground: #eb649f;
$colorTwoBackground: #bb346f;
$colorThreeBackground: #9b3366;
$colorMoreBackground: #7b1346;


$colorOneBorder: #bb346f;
$colorTwoBorder: #9b3366;
$colorThreeBorder: #7b1346;
$colorMoreBorder: #6b0336;


