@use "colors" as *;

%shownSquare {
    &.fa-bomb {
      background-color: $colorBombBackground;
      @extend %noShadow;
    }
  
    &.empty {
      background-color: $colorEmptyDarkBackground;
      @extend %noShadow;
    }
    .board__row:nth-child(2n-1) &:nth-child(2n-1).empty,
    .board__row:nth-child(2n) &:nth-child(2n).empty {
      background-color: $colorEmptyLightBackground;
      @extend %noShadow;
    }
  
    &.one {
      background-color: $colorOneBackground;
      color: white;
      border: 1px solid $colorOneBorder;
      @extend %noShadow;
    }
  
    &.two {
      background-color: $colorTwoBackground;
      color: white;
      border: 1px solid $colorTwoBorder;
      @extend %noShadow;
    }
  
    &.three {
      background-color: $colorThreeBackground;
      color: white;
      border: 1px solid $colorThreeBorder;
      @extend %noShadow;
    }
  
    &.more {
      background-color: $colorMoreBackground;
      color: white;
      border: 1px solid $colorMoreBorder;
      @extend %noShadow;
    }
  }

  %noShadow{
    box-shadow: none;
    &:hover, &:focus{
        box-shadow: none;
    }
  }
  